body {
    margin:0 0;
    font-family: 'Arial', sans-serif;
}

#header {
    background-color: #30414E;
    display: flex;
    justify-content: space-between;
    padding: 2% 10%;
}

#header header p{
    margin: 0 0;
    font-size: 2vh;
}

#header article {
    display: flex;
    justify-content: space-between;
    width: 50%;
}

#header article a{
    font-size: 1.3vh;
    text-decoration: none;
    margin-top: 0.5vh;
}

#header article a,
#header p {
    color: white;
    font-weight: 600;
}

#content{
    background-color: #1BBC9B;
    color: white;
    padding: 10% 2%;
}

#content article,
#content h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#content h1 {
    font-size: 5vh;
    text-align: center;
}

#content article p {
    font-size: 2vh;
    text-align: center;
}

#form h2 {
    color: #30414E;
    display: flex;
    align-items: center;
    justify-content: center;
}

#form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#form form label {
    color: #B7BDC5;
}

#form form input {
    border: none;
    border-radius: 0%;
    border-bottom: thin solid #B7BDC5;
    margin-bottom: 3vh;
    width: 50%;
    height: 2.5vh;
    padding: 2vh 0;
}

#form form button {
    border: none;
    border-radius: 5px;
    background-color: #1BBC9B;
    color: white;
    padding: 1.5vh;
    margin-bottom: 2.5vh;
}